@import 'variables.less';


body {
	font-family: 'Segoe UI' ;
}
input:focus, select:focus, button:focus, a:focus {
	outline: none!important;
}
// Tables
table thead tr th {
	color: #444c5c;
}
.table-style-1 table#DataTables_Table_0 tbody tr td:hover {
	background-color: ##ebeff6!important;
}
.table-style-1 .panel .table td, .panel .table th {
	padding: 15px;
}
.table-style-1 .panel .table td, .panel .table td {
	padding: 12px 0px 12px 15px;
}
.table-style-1 .dataTables_wrapper .table {
	margin-bottom: 50px;
}

.width-300 {
	max-width: 300px;
}
.width-400 {
	max-width: 400px;
}
.width-500 {
	max-width: 500px;
}
.width-600 {
	max-width: 600px;
}
.article-widget {
	float: left;
	margin-right: 20px;
}
#editor {
	min-height: 500px;
	overflow-x: hidden!important;
	overflow-y: hidden!important;
}
.overflow-hidden {
	overflow: hidden;
}
.scrollbar-hidden::-webkit-scrollbar {
	width:0px;
}
.scrollbar-small::-webkit-scrollbar {
	width:2px;
}
.mart70 {
	margin-top: 70px;
}
.no-padding {
	padding:0px;
}
.no-margin {
	margin: 0px;
}
.step2 textarea {
	outline: 0;
	border: 0;
	width: 100%;
	max-width: 100%;
	background-color: #eee;
}
.top-450 {
	position: relative;
	top: 450px;
}
.top-460 {
	position: relative;
	top: 460px;
}
.content-1 .editor-wrapper {
	position: relative;
	top: 450px;
}
.content-1 .editor-wrapper #editor {
	position: relative;
	top: 450px;
}
.content-1 .editor-wrapper .btn-toolbar {
	position: relative;
	top: 460px;
}
.content-1 .editor-wrapper .btn-toolbar .btn-group {
	position: relative;
	top: 440px;
}

.wizard .top-actions {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.line-lg2 {
	margin-top: 25px;
	margin-bottom: 25px;
}
.panel-100-height {
	height: 100%;
}
.mr-21 {
	right: 21px;
}
.logo-login {
	margin-left: 70px;
}
.login-page .input-group input {
	margin-left: 15px;
}
.register-page .input-group input {
	margin-left: 15px;
}
.l-100 {
	left: 100px;
}
.border-radius {
	border-radius: 3px!important;
}
.register-page .modal-center {
	top: 30%!important;
}
a.list-group-item span {
	position: relative;
	top: -3px;
}
.center {
	text-align: center;
}
table.no-padding tr td {
	padding: 5px!important;
}
table.pad4 tr td {
	padding: 4px!important!;
}
.delete-container a.list-group-item span {
	position: relative;
	top: 0px;
}

.mar-0 {
	margin: 0px!important;
}
.height-100p {
	height: 100%;
}
.overflow-hidden {
	overflow: hidden;
}
.top-actions {
	margin: 0px;
	position: relative;
	top: -50px;
}
.icon-no-float .fa-chevron-right {
	float: none;
}
#progress {
	max-width: 50%;
}
.width-80 {
	width: 80px;
}
#choose-files-input {
	content: 'asd';
}
tbody.files img {
	max-width: 50px;
	max-height: 50px;
}
.width-120 {
	width: 120px;
}
.width-60 {
	width: 60px;
}
